.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.home-img {
  height: 220px;
}

.bg {
  background-color: black;
}

.h {
  color: white;
}

.cen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.l {
  color: white;
}

.b {
  color: black;
}
